* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  width: 100%;
  padding: 64px;
  color: white;
  background-color: #63102c;
}

code {
  font: 18pt;
}

nav {
  background-color: #fc0758;
}

aside {
  background-color: yellow;
  color: black;
}

main {
  background-color: rgb(9, 9, 131);
}

aside,
main code {
  padding: 32px;
  height: 586px;
  color: #303030 !important;
}

footer {
  background-color: aquamarine;
  padding: 24px;
}

.navbar {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}

.navbar li {
  padding: 12px;
  text-align: center;
  border-top: 1px solid #303030;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.navbar a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: yellow;
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  .navbar {
    flex-flow: nowrap;
    justify-content: space-around;
  }

  #container {
    display: flex;
  }

  main {
    flex: 75%;
  }

  aside {
    flex: 25%;
  }
}
